<div class="example-container">

  <mat-card class="mat-elevation-z8">

    <mat-card-header>
      <mat-card-title>Coffee To Edit</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <img mat-card-image src="http://chittagongit.com//images/bean-icon/bean-icon-25.jpg" alt="credit: http://chittagongit.com//images/bean-icon/bean-icon-25.jpg">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Description" [(ngModel)]="coffeeDescription" [formControl]="description" required>
        <mat-error *ngIf="description.invalid">{{getErrorMessage(description)}}</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Date" [(ngModel)]="coffeeDate" [formControl]="date" required>
        <mat-error *ngIf="date.invalid">{{getErrorMessage(date)}}</mat-error>
      </mat-form-field>

      <div class="example-button-row">
        <button mat-raised-button [disabled]="disableButton()" color="accent" (click)="submitCoffee()">Submit</button>
        <button mat-raised-button [disabled]="disableButton()" color="warn" (click)="deleteCoffee()">Delete</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
