@import '../../theme/theme.scss';
@import '~@angular/material/theming';

.weather-container {
  display: flex;
  flex-direction: column;
}

mat-card {
  @include mat-elevation(12);
  width: 550px;
  min-width: 375px;
}
