<div class="weather-container" *ngIf="weatherData">

  <mat-card style="margin-top: 0px;" class="weatherCard">

    <mat-card-header style="text-align: center;">
      <mat-card-title>
        Current Weather for {{ weatherData.city }}, {{ weatherData.country }}
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <div class="weatherMain" fxLayout="row wrap" fxLayoutAlign="center">

        <div fxFlex=30%></div>
        <div fxFlex=70%>{{ currentDate | date:'fullDate' }}</div>
        <!-- <div fxFlex=25%></div> -->

        <div fxFlex=30%></div>
        <div fxFlex=70%>{{ weatherData.description }}</div>
        <!-- <div fxFlex=25%></div> -->

        <div fxFlex=30%></div>
        <div fxFlex=70%>{{ weatherData.mainDesc }}</div>
        <!-- <div fxFlex=25%></div> -->
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="20px">
        <div fxFlex=30%></div>
        <div>
          <img [src]='weatherData.image'>
        </div>
        <div class="weatherTemp" fxFlex="35%">{{ weatherData.temperature | number:'1.0-0' }}
          <span class="degrees" fxFlex="35%">&#176;F</span>
        </div>
      </div>

    </mat-card-content>

  </mat-card>
</div>
