<div class="weather-container" *ngIf="weatherData">

  <mat-card style="margin-top: 0px;" class="mat-elevation-z0" style="margin-top: 0px;padding-left: 0px;">

    <mat-card-header style="
    text-align: center;">
      <mat-card-title>
        Current Weather for {{ weatherData.city }}, {{ weatherData.country }}
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <div *ngIf="isSmallDevice.matches">
        <div class="weatherMain" fxLayout="row wrap" fxLayoutAlign="start">

          <div fxFlex=70%>{{ currentDate | date:'fullDate' }}</div>

          <div fxFlex=100%>{{ weatherData.description }}</div>

          <div fxFlex=100%>{{ weatherData.mainDesc }}</div>

        </div>

        <div class="weatherTemp" fxFlex="60%" fxLayout="row wrap" fxLayoutAlign="start">
          {{ weatherData.temperature | number:'1.0-0' }}
          <span class="degrees" fxFlex="40%">&#176;F</span>
          <div>
            <img [src]='weatherData.image'>
          </div>
        </div>
      </div>

      <div *ngIf="!isSmallDevice.matches">
        <div class="weatherMain" fxLayout="row wrap" fxLayoutAlign="center">
          <div fxFlex=70%>{{ currentDate | date:'fullDate' }}</div>
          <div fxFlex=70%>{{ weatherData.description }}</div>
          <div fxFlex=70%>{{ weatherData.mainDesc }}</div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="20px">
          <div fxFlex="25%"></div>
          <div fxFlex="25%">
            <img [src]='weatherData.image'>
          </div>
          <div class="weatherTemp" fxFlex="25%">{{ weatherData.temperature | number:'1.0-0' }}
            <span class="degrees" fxFlex="25%">&#176;F</span>
          </div>
        </div>
      </div>

    </mat-card-content>

  </mat-card>
</div>
