@import '../../theme/theme.scss';
@import '~@angular/material/theming';

.coffee-detail-form {
  max-width: 450px;
  margin: auto;
  text-align: left;
  @include mat-elevation(8);
}

.mat-card-image {
  margin: 15px;
  max-width: 60px;
  max-height: 120px;
}

// .mat-chip.mat-standard-chip {
//   background-color: $medium-accent !important;
//   min-height: 23px;
//   margin: 0px 2px;
// }

.mat-chip.mat-standard-chip {
  background-color: $medium-accent !important;
  min-height: 26px;
}

mat-card-title {
  margin-bottom: 0px;
}

.grid-container {
  margin: 20px;
}

.centeredMatCard {
  margin: 0% 20%;
  align-content: center;
  text-align: left;
}

.weatherCard {
  display: flex;
  width: 100%;
  min-width: 300px;
  width: 50% auto;
  flex-direction: column;
}

.mat-grid-tile.label.mat-grid-tile {
  font-weight: 500 !important;
}

.centeredDiv {
  width: 500px;
  margin: auto;
}

.label {
  // font-weight: 500;
  font-size: 10pt;
  color: rgb(83, 83, 83);
}

.data {
  font-size: 110%;
  margin-bottom: 15px;
  font-weight: 400;
}
