@import '../../theme/theme.scss';
@import '~@angular/material/theming';

.example-container {
  display: flex;
  flex-direction: column;
}

.full-width-header {
  width: 100%;
}

.example-container>* {
  // width: 50%;
  margin: 20px auto;
}

.hello mat-card-header {
  text-align: right;
  font-weight: 900;
  margin: 30px auto;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 80%;
}

.mat-form-field {
  margin-bottom: 9px;
  font-size: 110%;
}

.mat-card-image {
  margin: 15px;
  max-width: 60px;
  max-height: 60px;
}

mat-card {
  @include mat-elevation(8);
}

.mat-card-content {
  margin-left: 20px;
  text-align: left;
}

mat-card-title {
  margin-bottom: 0px;
}

input {
  font-weight: 500;
  color: black;
}

label {
  padding: 0px ;
  font-weight: 500;
  font-size: 12pt;
  width: 40%;
}

span {
  font-size: 12pt;
  width: 60%;
}
