<div class="coffee-detail-form">

  <mat-card style="margin-top: 0px;">

    <mat-card-header>
      <mat-card-title>Coffee Details</mat-card-title>
    </mat-card-header>
    <div><img mat-card-image src="../../assets/img/coffee-edit.png"></div>
  </mat-card>

  <mat-card>
    <mat-card-header>
    </mat-card-header>
    <mat-card-content>

      <div fxLayout="column" fxLayoutAlign="start start">
        <div class="label">Name:</div>
        <div class="data">{{ coffeeName }}</div>
        <div class="label">Roaster:</div>
        <div class="data">{{ coffeeRoaster }}</div>
        <div class="label">RoastDate:</div>
        <div class="data">{{ coffeeRoastDate }}</div>
        <div class="label">Regions:</div>
        <div class="data" fxLayout="row" fxLayoutAlign="start start">
          <mat-chip *ngFor="let region of coffeeRegions" matTooltip="Click the Region to get detailed weather information"
            aria-label="Button that displays a tooltip when focused or hovered over" matTooltipPosition="after" (click)=getCurrentWeather(region)>{{region}}
          </mat-chip>
        </div>
        <div class="label">Flavors:</div>
        <div class="data" fxLayout="row" fxLayoutAlign="start start">
          <mat-chip *ngFor="let flavor of coffeeFlavors">{{flavor}}</mat-chip>
        </div>
        <div class="label">Rating:</div>
        <div class="data">{{ coffeeRating }}</div>
        <div class="label">Notes:</div>
        <div class="data">{{ coffeeNotes }}</div>

        <app-weather-detail *ngIf="weather" [weatherData]="weather"></app-weather-detail>
      </div>

    </mat-card-content>
  </mat-card>



</div>
