@import '../../theme/theme.scss';
@import '~@angular/material/theming';

.mat-card-image {
  margin: 15px;
  max-width: 60px;
  max-height: 60px;
}

.mat-chip.mat-standard-chip {
  background-color: $medium-accent !important;
  font-size: 13px !important;
  // height: 10px !important;
  // line-height: 10px !important;
  // border-radius: 10px !important;
  min-height: 23px;
  // padding: 2px 7px;
}

mat-card-title {
  margin-bottom: 0px;
}

span.label {
  padding: 0px 5px 0px 0px;
  font-weight: 500;
  font-size: 11pt;
}

.grid-container {
  margin: 20px;
}

.centeredMatCard {
  margin: 0% 20%;
  align-content: center;
  text-align: left;
}

.weatherCard {
  display: flex;
  width: 100%;
  min-width: 300px;
  width: 50% auto;
  flex-direction: column;
}

.mat-grid-tile.label.mat-grid-tile {
  font-weight: 500 !important;
}
