.full-width-table {
  width: 100%;
}

.coffee-data-list {
  width: 80%;
  margin: 20px auto;
}

/* 
.coffee-data-list {
  width: 40%;
  margin: 20px auto;
} */
/* 
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
} */

.mat-header-cell {
  text-align: justify;
  font-weight: 600;
  font-size: medium;
}

button {
  margin: 5px;
}