@import '../../theme/theme.scss';

.full-width-table {
  width: 100%;
}

.coffee-data-list {
  width: 80%;
  margin: 20px auto;
}

.mat-row:hover {
  background-color: $lighter-accent;
}

.mat-header-cell {
  text-align: justify;
  font-weight: 600;
  font-size: medium;
}

button {
  margin: 5px;
}