@import '../../theme/theme.scss';

.full-width-table {
  width: 100%;
  text-align: left;
}

.coffee-data-list {
  min-width: 375px;
  width: 75%;
  margin: auto;
  text-align: left;
  @include mat-elevation(8);
}

.mat-row:hover {
  background-color: $lighter-accent;
}

.mat-header-cell {
  // font-size: x-small;
  color: $lightish-accent;
}

.table-button {
  margin: 7px;
}
