<div class="coffee-data-list" color="primary">
  <table mat-table class="full-width-table" [dataSource]="dataSource" aria-label="Elements" color="primary">
      <!-- <table mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Elements"> -->

    <!-- Id Column -->
    <ng-container class="coffee-data-list" matColumnDef="#">
      <th mat-header-cell *matHeaderCellDef mat-header>#</th>
      <td mat-cell *matCellDef="let i = index" [attr.data-index]="i">{{ i + 1 }} </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-header>Description</th>
      <td mat-cell *matCellDef="let row">{{row.description}}</td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-header>Date</th>
        <td mat-cell *matCellDef="let row">{{row.date}}</td>
    </ng-container>

    <!-- Options Column -->
    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef mat-header>Options</th>

      <td mat-cell *matCellDef="let row">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_horiz</mat-icon>
      </button>

      <mat-menu #menu="matMenu" class="menu-overflow-hidden">
        <button mat-menu-item [routerLink]="['/coffee-detail', row.id]">
          <mat-icon>description</mat-icon>
          <span>View Details</span>
        </button>
        <button mat-menu-item [routerLink]="['/coffee-edit', row.id]">
          <mat-icon>create</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-menu-item (click)="confirm(row.id)">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" color="primary"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <button class="table-button" mat-raised-button color="accent" [routerLink]="['/coffee-edit', 'new']">Add</button>
</div>
