mat-sidenav-content {
  height: 1000px !important;
}
.example-container mat-drawer-content mat-sidenav-content {
  // height: 1000px !important;
  display: flex;
  // width: 500px;
  // height: 300px;
}

mat-card-content b, mat-card-content {
  font-size: 75% !important;
}
.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav {
  display: flex;
  padding: 20px;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.mat-card-image {
  max-width: 100px;
  max-height: 100px;
}
