<div>

  <mat-toolbar color="primary">

    <div fxShow="true" fxHide.lt-md="true">

      <!-- The following menu items will be hidden on both SM and XS screen sizes -->
      <button mat-button [routerLink]="['/']"><mat-icon>home</mat-icon> Coffee Tracker</button>
      <button mat-button [routerLink]="['/coffee-list']">
        <mat-icon>format_list_numbered</mat-icon> View Coffees
      </button>
      <button mat-button [routerLink]="['/coffee-data-list']">
        <mat-icon>format_list_numbered</mat-icon> View Coffees Data List
      </button>

    </div>

    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
      <!-- <button mat-button [routerLink]="['/']"><mat-icon>home</mat-icon></button> -->
    </div>

  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <div fxLayout="column" fxLayoutAlign="start" style="text-align:justify">
        <button style="text-align:justify" mat-button [routerLink]="['/']"><mat-icon>home</mat-icon> Coffee Tracker</button>
        <button style="text-align:left" mat-button [routerLink]="['/coffee-list']"><mat-icon>format_list_numbered</mat-icon> View Coffees</button>
        <button style="text-align:left" mat-button [routerLink]="['/coffee-data-list']"><mat-icon>format_list_numbered</mat-icon> View Coffees Data List</button>
      </div>
    </mat-sidenav>

    <mat-sidenav-content fxFlexFill example-container>

      <!-- Main Content Goes Here -->
      <router-outlet></router-outlet>
      <!-- Main Content Goes Here -->

    </mat-sidenav-content>

  </mat-sidenav-container>

</div>
