/* You can add global styles to this file, and also import other style files */
// @import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import '~@angular/material/theming';

@import url('//fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet"');
@import './theme/theme.scss';

$config: mat-typography-config();

body {
  font-family: mat-font-family($config);
  font-weight: normal;
  margin: 0;
  font-family: Roboto, sans-serif;
}

mat-card {
  // max-width: 80%;
  // margin: 2em auto;
  // height: 100%;
  text-align: center;
  @include mat-elevation(1);
}

mat-toolbar-row {
  justify-content: space-between;
}

.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}

.mat-card-header-text {
  width: 100% !important;
}

// Styles for the Grid List on the Coffee Details Page.
.mat-grid-tile .mat-figure {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute !important;
  display: flex !important;
  align-items: left !important;
  justify-content: left !important;
  height: 100%;
  padding: 0;
  margin: 0;
}

// .pad-sides {
// 	padding-right: 1.5em;
// 	padding-left: 1.5em;
// }

.text-center {
  text-align: center;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
